{% extends 'base.html' %}

{% block header %}
  <div class="text-center container">
    <h4 class="mx-2 my-2">{% block title %}Dranks{% endblock %}</h4>
  </div>
{% endblock %}

{% block content %}

  <div class="post container-fluid">

      <!-- Begin body -->
      <div class="d-flex body mx-4">

        <div class="section-center">
            {% for item in drinks %}
              <article class="cocktail">
		<img class="mx-auto" src="{{ url_for('static', filename='images/' + item[4]) }}" alt="{{ item[1] }}" />
                <h4 class="text-center">{{ item[1] }}</h4>
		<p class="ingred">Ingredients:</p>
		<ul>
		  {% for key,value in item[6].items() %}
		    <li>{{ key }}: <span style="color: #f80f0e">{{ value }}</span></li>
		  {% endfor %}
		</ul>
		<p>{{ item[5] }}</p>
              </article>
	    {% endfor %}
        </div>

      </div>

    </div>

{% endblock %}
