{% extends 'base.html' %}

{% block header %}
  <div class="text-center container">
    <h4 class="mx-2 my-2">{% block title %}Dranks{% endblock %}</h4>
  </div>
{% endblock %}

{% block content %}

  <div class="post container-fluid">

      <!-- Begin body -->
      <div class="d-flex body mx-4">

        <div class="section-center">
            {% for item in drinks %}
              <article class="cocktail">
		<img class="mx-auto" src="{{ item['strDrinkThumb'] }}" alt="{{ item['strDrink'] }}" />
                <h4 class="text-center">{{ item['strDrink'] }}</h4>
		<p class="ingred">Ingredients:</p>
		<ul>
		  {% for key in item %}
		    {% if key.startswith('strIngredient') and item[key] %}
		    <!-- we are ingredient and we have value -->
		    <li>{{ item[key] }}: <span style="color: #f80f0e">{{ item[key.replace('Ingredient', 'Measure')] }}</span></li>
		    {% endif %}
		  {% endfor %}
		</ul>
		<p>{{ item['strInstructions'] }}</p>
              </article>
	    {% endfor %}
        </div>

      </div>

    </div>

{% endblock %}
